html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 10px;
    -webkit-transition: color 0.25s ease;
}

body {
    font-family: 'Zilla Slab', serif;
}

.jumbotron {
    margin: 3em;
}

.subtitle {
    font-weight: 700;
    letter-spacing: 1px;
}

.moment {
    font-weight: 500;
}

#current-time {
    display: inline-block;
    width: 65px;
    text-align: left;
}

#container {
    margin-bottom: 3em;
}

textarea {
    resize: none;
    border: 0;
    font-family: 'Indie Flower', cursive;
}

textarea:focus {
    outline: none !important;
    box-shadow: 0 0 10px grey;
}

.past {
    background-color: #ffd2d2;
}

.current {
    background-color: #ffff89;
}

.future {
    background-color: #8fff8f;
}

.hour-cell {
    text-align: right;
    border-top: solid 1px lightgray;
    padding-top: .5em;
}

.text-cell {
    border-bottom: solid 1px white;
    border-right: solid 1px lightgrey;
    border-left: solid 1px lightgrey;
    padding: .5em;
    white-space: pre-line;   
    height: 89px;
}

.save-cell {
    text-align: center;
    padding: 1rem;
    background-color: lightblue;
    border-top: solid 15px lightblue;
    border-bottom: solid 13px lightblue;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 1px;
}

.save-cell-disabled {
    text-align: center;
    padding: 1rem;
    background-color: lightblue;
    border-top: solid 15px lightblue;
    border-bottom: solid 13px lightblue;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 1px;
}

.save-icon-disabled {
    opacity: 0.3;
}

.save-icon {
    transition: color .2s ease;
}

.save-icon:hover {
    color: white;
    transition: color .2s ease;
}

#toast-container { 
    position: fixed;
    width: 170px;
    padding: 1rem;
    top: 0;
    right: 0;
}

.toast {
    font-size: 1rem;
}

#toast-icon {
    padding-right: 5px;
}