html {
  overflow-y: scroll;
}

.container {
    margin-bottom: 2em;
}

textarea {
    resize: none;
    border: 0;
}

textarea:focus {
    outline: none !important;
    box-shadow: 0 0 10px grey;
}

.past {
    background-color: #ffd2d2;
}

.current {
    background-color: #ffff89;
}

.future {
    background-color: #8fff8f;
}

.hour-cell {
    text-align: right;
    border-top: solid 1px grey;
    padding-top: .5em;
}

.text-cell {
    border-bottom: solid 1px white;
    border-right: solid 1px grey;
    border-left: solid 1px grey;
    padding: .5em;
    white-space: pre-line;   
    height: 89px;
}

.save-cell {
    text-align: center;
    padding: 1rem;
}